@import "tailwindcss";
#root {
  height: 100vh;
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@media print {
  /* Prevents individual sections from breaking into two pieces */
  .papertoprint > div {
    page-break-inside: avoid !important;
    break-inside: avoid !important;
  }
}